
<!doctype html>
<html>
  <head>
    <title>| TodoList |</title>
  </head>
  <body>

  Add your new task

  <form action='/create_task' method='POST'>
    <input type='text' name='content' placeholder ='Write your task'>
    <button type='submit' name='operation' value='create_task'>Add</button>
  </form>


  </body>

</html>

