<link rel="stylesheet" type="text/css" href="styles.css">

<h1>Hot-Dog menu!<h1>

<ul>
  <% @ingredients.each do |ingr| %>
  <li><%= ingr %></li>
  <% end %>
</ul>
<%= @hola %>

<img src="/hot-dog.jpg"
alt="Avery cool image">