<!-- views/correct.erb -->

<html>
<head>
  <title>| MOVIE SEARCH |</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="correct">
  <h1 class="title">GOOD CORRECT ANSWER !!</h1>


<img class = "imgCorrect" src="borat.jpg"/>


</body>
</html>
