<!-- views/incorrect.erb -->

<html>
<head>
  <title>| MOVIE SEARCH |</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="fail">
   <h2 >"Sorry, No movies with that search word"</h2>


<img class = "imgFail" src="try_again.jpg"/>


</body>
</html>
