<!-- views/home.erb -->

<html>
<head>
  <title>| MOVIE SEARCH |</title>
</head>
<body>
  <h1>Movie Search</h1>


  <form action="/search" method="POST">

    <label >Search movie by word</label>
      <input type="text" name="searchWord" placeholder="enter word">

    <button type="submit" name="btn" value="search">Search</button>
    
  </form>


</body>
</html>
