<!-- views/incorrect.erb -->

<html>
<head>
  <title>| MOVIE SEARCH |</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="incorrect">
   <h1 class="title">SORRY INCORRECT ANSWER</h1>


<img class = "imgIncorrect" src="theOffice.jpg"/>


</body>
</html>
