<!-- views/search.erb -->

<html>
<head>
  <title>| MOVIE SEARCH |</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Top 9 Movies</h1>

  <h3>Which one of this movies was film in <%= @year %>?</h3>


<% @nineMovieArray.each_with_index do |movie, index| %>

<form action="/answer" method="POST">
  <div class= "boxes">
    <img src="<%= movie.poster %>"><br>
    <button type="submit" name="btn" value="select">Select</button>
  </div>
      <input type="hidden" name="choosenYear" value="<%= movie.year %>">
      <input type="hidden" name="correctYear" value="<%= @year %>">
</form>

<% end %>
  

</body>
</html>
