body {
  background-color: #858585;
  text-align: center;
}

img {
  width: 200px;
  height: 300px;
  text-align: center;
}

.boxes {
  width: 210px;
  height: 320px;
  background-color: white;
  margin-top: 10px;
  float: left;
}
